*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin
/out

*.classpath
*.project
/.gradle
/.settings
/.idea
*.iml
*.ipr
*.iws
/.metadata/*
*.eml
/run
*.stackdump
*.log
*/.settings
*/build

*.launch

*.db
/classes/
/CraftTweaker2-MC1120-Main/CraftTweaker2-MC1120-Main/
CraftTweaker2-MC1120-Tests/run/
CraftTweaker2-MC1120-Tests/server/
/CraftTweaker2-MC1120-Tests/.gradle/
desktop.ini

changelog.md

secrets.json

/.theia
.gitpod.yml