*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin
/out

*.classpath
*.project
/.gradle
/.settings
/.idea
*.iml
*.ipr
*.iws
/.metadata/*
*.eml
/run
/runServer
*.stackdump
*.log
*/.settings
*/build

*.launch

*.db
/classes/
desktop.ini
runServer/
changelog.md

secrets.json

docsOut/
src/generated
src/main/resources/__StdLibs__/
CrafttweakerDocumentation/
lsp
