# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
run_server
run_game_test

docsOut

classes
logs

fabric-game-tests.html

secrets.json
changelog.md
CraftTweaker-Annotation-Processors