*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin
/out

*.classpath
*.project
/.gradle
/.settings
/.idea
*.iml
*.ipr
*.iws
/.metadata/*
*.eml
*/run/
usernamecache.json
*.stackdump
*.log
*/.settings
*/build
